body {
  background: var(--color-background);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#container a {
  border: 2px solid #fff;
  margin: 8px;
}
header {
  background: #6272a4;
  padding: 20px;
  display: flex;
  align-items: center;
}
header a {
  padding: 0 12px;
  font-size: 20px;
  color: var(--color-green);
}
#container {
  max-width: 700px;
  color: #f5f5f5;
  margin: 32px;
}
#fsklogo {
  width: 100px;
  margin-right: 100px;
}
#logos-header {
  display: flex;
  align-items: center;
}
#logos-header img{
  width: 32px;
}
.treste{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}